<h1>Welcome to the word counter!</h1>

<form action="/results" method="post">
  <label for="string-input">Input your multi word string here.</label>
  <input type="text" name="string-input" placeholder="input here">
  <label for="word-input">Input your search word here.</label>
  <input type="text" name="word-input" placeholder="input here">
  <button type="submit">Submit</button>
</form>
